[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-radxa"]
	path = layers/meta-radxa
	url = https://github.com/radxa/meta-radxa.git
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
[submodule "layers/meta-python2"]
	path = layers/meta-python2
	url = https://github.com/YoeDistro/meta-python2.git
