# increase for allowing larger kernel to decompress
CONFIG_SYS_BOOTM_LEN=0x8000000

CONFIG_CMD_SYSBOOT=y
CONFIG_BOOTCOMMAND="setenv resin_kernel_load_addr ${kernel_addr_r}; run resin_set_kernel_root; run set_os_cmdline; if run resin_flasher_detect; then sysboot mmc ${resin_dev_index}:${resin_boot_part} fat ${scriptaddr} /extlinux/extlinux.conf; else sysboot mmc ${resin_dev_index}:${resin_root_part} ext2 ${scriptaddr} /boot/extlinux/extlinux.conf; fi"
